/* Fichier css appelé sur toutes les pages */

:root  { /* création de variables réutilisables */

    --error-color: rgb(194, 0, 0);
    --logocolor: #57A6D8; 

}

html, body {

    margin: 0;
    padding: 0;  

}

* {
    font-family: Arial, Helvetica, sans-serif; 
   
}

.no-link {
    text-decoration: none;
    color: unset;
}

#menu {
    background: black; 
    width: 100%; 
    height: 80px; 
    line-height: 66px;
}

#inner {
    display: flex; /* ADDED */
    margin:auto; 
}

#m-left {

    float: left;
    display: flex; 

}

#logo {

    height: 64px;
    margin: 2px;
    padding: 6px;
    
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown > .dropdown-child {
    position: absolute; /* pour éviter que le menu ne déplace les autres éléments de la page */
    z-index: 10; /* position en profondeur sur la page : plus il est grand, plus l'élément sera en avant
    comme ça le menu sera toujours par-dessus le reste */
    display: none;
    background-color: white; /* couleur de fond du menu */
    width: 200px;
    border: solid 1px #707070; 
    
}

.dropdown:hover > .dropdown-child {
    display: block;
}

.dropdown-child > * {
    display: block;
    margin: 20px;
    line-height: normal;
}

#products {
    height: 36px;
    margin-bottom: 12px;
}

.dropdown-child img {
    height: 20px;
}


#m-middle {
    padding-top: 20px;
    float: left;
    flex: 1; /* ADDED */
}

#produits {
    color: white;
    margin: 8px;
    margin-left: 0px;
    vertical-align: text-bottom;
}

#article-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin: 20px;
}

.article {
    width: 15em;
    text-align: center;
    background-color: hsl(210, 50%, 95%);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    gap: 10px;
}

.article .article-picture-viewer {
    width: 100%;
    height: 10em;
}

.article .article-picture {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.article .article-picture.hidden {
    display: none;
}

.article .article-name {
    font-size: 1.1em;
}

.article .article-price {
    color: hsl(210, 100%, 25%);
}

#site-search {

   width: calc(100% - 64px); /* ADDED */
    font-size: 15px;
    padding: 3px;
    height: 35px;
    border-radius: 10px;
}

#search-form {
    display: flex; 
    gap: 5px;
}

#searchbutton {
    border-radius: 10px;
    outline: none;
    background-color:#fdff7b;
    border: none;
    
}
   

#searchbutton img {
    width: 20px; 
    padding: 2px;
    
}
   
#m-right {
    float: right; 
    padding-top: 20px; 
}

#m-right img {
    height: 36px;
}

#heart {
    margin: 0px; 
    padding: 20px; 
}

#cart {
    margin: 0px 10px 0px 0px; 
    padding: 20px; 
}

#connexioninscription {
    margin: 10px; 
    padding: 8px; 
}

input.invalid,
select.invalid {

    box-shadow: 0 0 0 2px var(--error-color); /* À CHANGER */

}

.error-msg {

    color: var(--error-color);

}

.error-msg.invisible {

    opacity: 0;
    cursor: default;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

}
.up {
    background-color: #fdff7b;
    text-align: center;
    padding: 5px 0px;
    cursor: pointer; /* afficher un curseur de main sur le "Retour en haut" */
}

.secondbar {
   background-color: #fdff7b; 
   text-align: center; 
   padding: 5px 0; 
}

#questions {
    height: 100px;
    width: 80%; 
    padding: 25px;  
    resize: none;
    display: block;
    margin: auto;
    
}

.footer {
    background-color: black; 
}

.footer-content {
    display: flex;
    flex-direction: column; /* blocs disposés verticalement */
}

.help {
    margin: 10px; 
}

.services-products {
    padding: 20px;

}
.knowusbetter {
    padding: 20px; 
}

.buttonls{
    height: 45px; 
    width: 300px;
    color: white; 
    font-weight: bold;
    /*
        100     300     500     700     900
        lighter         normal  bold    bolder
    */
    background-color: #242F64; 
    border-radius: 10px; 
    transition: all 500ms;
    transition: background-color 1s ease;
}

.buttonls:hover {
    background-color: black;
}

.buttonls:active {
    background-color: white;
}
#questions {
    border-radius: 10px;
}

#email-address {
    border-radius: 10px;
}

.knowusbetter {
    color: white;
}

.services-products {
    color: white;
}

.help {
    color: white;
}

.pagebanner {
    width: 100%;
    color: #fff;
    font-size: 1.5em;
    background-color: #000;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    position: relative;
  
}

.pagebanner .background-image {
    width: 100%;
    height: 100%;
    background-position: center;
    top: 0;
    left: 0;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(3px) brightness(90%);
}

.pagebanner .title {
    font-size: 1.5em;
    z-index: 0;
    font-weight: bold;
}

.pagebanner .title img {
    height: 1em;
}
