
.block-home {
    display: flex;
    flex-wrap: wrap; 

}


#promo-block {
    background-image: url('../img/rounded-left.svg'), url('../img/rounded-right.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center, right center; 
    padding: 30px 150px;
}
