#user-name{
    width: 200px;  
    height: 30px;
}

#first-name{
    width: 200px;  
    height: 30px;
}

#last-name{
    width: 200px;  
    height: 30px;
}

#email-address{
    width: 200px;  
    height: 30px;
}

#phone-number{
    width: 200px;  
    height: 30px;
}
#password{
    width: 200px;  
    height: 30px;
}
#confirm-password{
    width: 200px;  
    height: 30px;
}



 